@import 'normalize.css';

$main-color:#211062;
$section-height:1000px;
$main-font-color:#ffffff;
$black-font-color:#534e5a;

:root {
  --mdc-theme-secondary: #1c2387!important;
  --mdc-theme-secondary-light: #1c2387!important;
  --mdc-theme-secondary-dark: #1c2387!important;
}

%font-rules{
    font-family: Ubuntu;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

%center{
    margin-left:auto;
    margin-right: auto;
}

body {
    @extend %font-rules;
    width:100vw;
    background-color:$main-color;
    color: $main-font-color;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    min-width: 325px;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
}

h2{
  font-size:1.15em;
}

table {
  border-collapse: collapse;
  font-size: 13px;
  background-color: #fff;
  width: 100%;
  font-weight: 400;

  thead {
    font-size: 13px;
    padding-bottom: 3px;
  }

  thead .mdl-data-table__select {
    margin-top: 0;
  }

  tbody tr {
    position: relative;
    height: 18px;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    will-change: background-color;
    
  }

  tbody tr.selected {
    background-color: #f5f5f5;
  }
  tbody tr:hover {
    background-color: #eee;
  }

  td,
  th {
    padding: 0 0px 5px 35px;
    text-align: left;
  }

  td.views-field-title,
  th.views-field-title {
    padding-left: 12px;
  }

  td:first-of-type,
  th:first-of-type {
    padding: 0;
    padding-right:10px;
    margin:0;
  
    @media only screen and (max-width: 480px) {
      padding-right:0;
    }}

  td:last-of-type,
  th:last-of-type {
    padding-left: 0;
    padding-right:0;
    margin:0;
    text-align: center;
  }

  td {
    position: relative;
    vertical-align: middle;
    height: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  td .mdl-data-table__select {
    vertical-align: middle;
  }

  th {
    position: relative;
    vertical-align: bottom;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    height: 56px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
    padding: 0 0px 5px 35px;
    line-height:35px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: 400;
  }

  th.is-active {
    color: rgba(0, 0, 0, 0.87);
  }

  th a {
    color: inherit;
    font-weight: 700;
  }
  

  th.mdl-data-table__header--sorted-ascending,
  th.mdl-data-table__header--sorted-descending {
    color: rgba(0, 0, 0, 0.87);
  }

  th.mdl-data-table__header--sorted-ascending:before,
  th.mdl-data-table__header--sorted-descending:before {
    font-size: 16px;
    content: '\e5d8';
    margin-right: 5px;
    vertical-align: sub;
  }

  th.mdl-data-table__header--sorted-ascending:hover,
  th.mdl-data-table__header--sorted-descending:hover {
    cursor: pointer;
  }

  th.mdl-data-table__header--sorted-ascending:hover:before,
  th.mdl-data-table__header--sorted-descending:hover:before {
    color: rgba(0, 0, 0, 0.26);
  }

  th.mdl-data-table__header--sorted-descending:before {
    content: '\e5db';
  }

  .mdc-form-field {
    margin: 0;
  }

  .dropbutton-wrapper {
    margin-right: -10px;
  }

  th.views-field-operations {
    font-size: 0;
    width: 48px;
  }

  th.select-all {
    padding-bottom: 6px;
  }

  @media only screen and (max-width: 600px) {
    th:nth-of-type(3),table th:nth-of-type(4){
      display: none;
    }
    tbody tr td:nth-of-type(3),table tbody tr td:nth-of-type(4){
      display: none;
    }
  }
}

header{
  width:100%;
  height:100px;
  background-color: #ffffff;
}

nav{
  position: relative;
  padding:10px;
  margin: auto;
  max-width: 978px;

  .brand{
    font-size:35px;
    font-weight: bold;
    line-height: 70px;
    color:rgb(83, 78, 90);
    width:300px;
    height: 70px;
    cursor: pointer;
    transition-property: color,font-size;
    transition: 0.2s linear;
    will-change: font-size;
    
  }
  
  .brand:hover{
    color:rgb(0, 0, 0);
  }
  
  @media only screen and (max-width: 530px) {
    .brand{
      font-size:25px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .brand{
      display: none;
    }
  }
  
  .brand figure{
    background-image: url(../images/brain.png);
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
    float:left;
    margin-right: 10px;
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
    transition-duration: 0.3s;
    will-change: filter;
  }
  
  .brand:hover figure{
    filter:sepia(1);
    filter:invert(50%);
  }
  
  ul{
    list-style: none;
    margin:0;
    padding: 0;
  }
  
  & > ul{
    position: absolute;
    display: flex;
    float: right;
    width: 330px;
    top:5px;
    right: 1px;
  }
  
  & > ul > ul{
    display: flex;
    flex-direction: column;
    width:100%;
    padding:15px;
    padding-right: 10px;
    text-align: right;
    white-space: nowrap;
  }
  
  & > ul > ul > ul{
    display: initial;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
  }

  & > ul > ul >ul li{
    float: right;
  }
  
  & > ul > li:last-of-type{
    cursor: pointer;
    padding-right:10px;
  }
  
  & > ul > li:last-of-type img{
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
    transition-duration: 0.3s;
    will-change: filter;
  }
  
  & > ul > li:last-of-type img:hover{
    filter: sepia(0.4);
    -webkit-filter: sepia(0.8);
  }
  
  ul img{
    width:60px;
    height:60px;
    border-radius: 30px;
    margin-top:10px;
    border: 1px solid rgba(5, 61, 167, 0.356);
  }
  
  .user-info{
    font-size: 18px;
    text-align: right;
    color:$black-font-color;
  }
  
  .nav-settings{
    position: relative;
  }
  
  .nav-settings .btn-settings.mdc-fab{
    position: absolute;
    bottom:0;
    right: 5px;
    width: 25px;
    height: 25px;
    background-color: rgb(27, 34, 136);
    box-shadow: inherit;
  }
  
  .nav-settings .btn-settings.mdc-fab i{
    font-size:18px;
  }
  
  .mdc-button.mdc-ripple-upgraded{
    padding-right:5px;
    padding-left:5px;
  }
}

.page-headline{
  background-color: #f3808036;
  height: 40px;
  border-bottom: 2px solid #3f51b5;
  line-height: 40px;
  font-size:20px;
  margin: auto;
  width:100%;
  
  div{
    max-width: 978px;
    margin: auto;
    padding-left: 10px;
  }
}

.top-line{
  background-color: #3f51b5;
  height: 10px;
  width: 100%;
}

.content{
  margin: auto;
  max-width: 978px;
  position: relative;
}

#hero{
  @extend %font-rules;
  width:calc(100% - 176px);
  min-width: 325px;
  padding: 62px 0 1px 176px;
  height: 1100px;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: 1200px){
    height:700px;
  }

  @media only screen and (max-width: 1000px){
    width:calc(100% - 40px);
    padding: 62px 0 1px 40px;
  } 
  
  @media only screen and (max-width: 735px){
    width:100%;
    padding:20px 0 0 0;
  }
  
  .hero__wrapper{
    @extend %center;
    max-width:1350px;
    margin:0 auto;

    @media only screen and (max-width: 735px){
      padding-left: 0;
      width:300px;
      margin:0 auto;
      display: block;
    } 
  }

  .hero__btn-start{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    margin-top:10px;
    color: white;
    background-color: #7c26cade;
    transition: background-color ease-out 0.3s;
    
    &:hover{
      background-color: #8e40d4de;
    }
  }
  
  .hero__brand{
    font-size: 18px;
  }

  .hero__main-header{
    font-size: 40px;
    font-weight: bold;
    margin-top:125px;

    &::after{
      content:" ";
      width: 121px;
      height: 2px;
      border-radius: 1.5px;
      background-color: #ffffff;
      display: block;
      margin:20px 0 38px 0;
    }

    @media only screen and (max-width: 735px){
      margin-top:20px;
    } 
  }

  p{
    width:221px;
  }

  svg {
    width:100%;
    height: auto;

    @media only screen and (max-width: 735px){
      width: 300px;
      height: 550px;
      transform: scale(2.5);
      left:-50px;
      position: absolute;
      left: -9999px;
      right: -9999px;
      margin: auto;
    } 
  }

  .hero__canvas{
    overflow: hidden;
    width: 1640px;
    height: 1251px;
    position: fixed;
    right:0;
    left: 0;
    margin:0 auto;
    top: 70px;
    z-index: -1;
    pointer-events: none;

    @media only screen and (max-width: 1200px){
      width: 1040px;
      height:700px;
      left: 120px;
    } 

    @media only screen and (max-width: 900px){
      left: 10px;
    } 

    @media only screen and (max-width: 735px){
      height:486px;
      position:static;
    } 
    
    #hero-animation {
        position: relative; 
    }

    #beyin{
        position: absolute;
        animation: brainFrames ease-in-out 3s;
        animation-iteration-count: infinite;
        transform: translate(737px, 78px);
        z-index: 2;
    }

    #simsek1{
        position: absolute;
        animation: simsek1Frames ease-in-out 3s;
        animation-iteration-count: infinite;
        z-index: 1;
    }

    #simsek2{
        position: absolute;
        animation: simsek2Frames ease-in-out 3s;
        animation-iteration-count: infinite;
        z-index: 1;
    }

    #simsek3{
        position: absolute;
        animation: simsek3Frames ease-in-out 3s;
        animation-iteration-count: infinite;
        z-index: 1;
    }

    .empty-paper{
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out;
    }

    .empty-paper.appear{
        opacity: 1; 
    }

  }
}

.how-to{
    width:100%;
    height:800px;
    z-index: 2;
    background-color:red;
    position: relative;
    background-color:#211062;
} 

section.loading{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  flex-direction: column;
  animation: fade-in 200ms;
  
  svg{
    width:250px;
    height:313px;
    display: block;
    position: relative;
  }

  #brain{
    animation:brain ease-in-out 3s;
    animation-iteration-count: infinite;
  }

  #lightning1{
    transform: translate(60px,-40px);
    animation: lightning1Frames ease-in-out 3s;
    animation-iteration-count: infinite;
  }

  #lightning2{
    transform: translate(120px,-40px);
    animation: lightning2Frames ease-in-out 3s;
    animation-iteration-count: infinite;
  }

  #lightning3{
    transform: translate(170px,-40px);
    animation: lightning3Frames ease-in-out 3s;
    animation-iteration-count: infinite;
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgb(243, 247, 11);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 6px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 6px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 26px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 45px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}

section.intro{
  @extend %font-rules;
  width: 500px;
  background-color:antiquewhite;
  margin: auto;
  border-radius: 5px;
  margin-top:50px;
  left:calc(50% - 250px);
  top:calc(50% - 250px);

  @media only screen and (max-width: 530px) {
    position: initial;
    top:initial;
    width: 100%;
    height: 100vh;
    left:initial;
    margin-top:0;
    border-radius: 0;

    .mdc-elevation--z7{
      box-shadow: initial;
    } 
  }

  .login{
      text-align: center;
      height: 550px;
      position: relative;

      h2{
          color:#1c2387;
      }
  
      img{
          width: 150px;
          height: auto;
          margin-top:25px;
          display: inline-block;
          animation: brand;
          animation-direction:alternate;
          animation-duration: 1s;
          animation-iteration-count: infinite
      }

      button{
          background: #3864a3;
          border: 0;
          display: block;
          color: #fff;
          width: 100%;
          padding: 1.8rem;
          font-size:15px;
          cursor: pointer;
          font-weight: 600;
          opacity: 0.8;
          will-change: opacity;
          transition: opacity 0.2s linear;

          &:hover{
            opacity: 1
          }

          &:nth-of-type(2){
            background: #1da1f2;
          }

          &:nth-of-type(3){
            background: #8fcf72;
          }

          &:nth-of-type(1){
              background: #fbb001;
          }

          &:nth-of-type(1){
              background: #fbb001;
          }
      }

      .loginButtons{
          position: absolute;
          bottom: 0;
          width: 100%;
      }

      &:hover img{
        filter:sepia(1);
      }
  }

  .lang-selector{
    width:185px;
    height:30px;
    margin: 0 auto;
  }
  
  .lang-selector .mdc-radio::before,
  .lang-selector .mdc-radio::after,
  .lang-selector .mdc-radio__inner-circle{
    background-color: #505ead !important;
  }
  
  .lang-selector .mdc-radio .mdc-radio__native-control:enabled:checked + .mdc-radio__background .mdc-radio__outer-circle{
    border-color: #515c97 !important;
  }
}

section.category{
  margin-bottom:30px;
  position: relative;

  .addCategory{
    background: rgb(255, 255, 255);
    width:100%;
    padding-top:0px;
    padding-bottom:0px;
    border-top:0px;
    height: 0; 
    will-change: height;
    transition-property: height, padding-bottom;
    transition-duration: 1s;
    overflow: hidden;

    &.visible{
      height: 80px;
    }
  }
  
  .addCategory form{
      max-width:600px;
      margin:auto;
      display: flex;
      justify-content: space-between;
      margin-top:7px;
  }
  
  @media only screen and (max-width: 600px) {
    .addCategory.visible{
      height: 220px;
    }
  
    .addCategory form{
      margin:10px;
      flex-direction: column;
    }
    
    .addCategory form *{
      margin:5px;
      flex-basis: 100%;
    }
  }
  
  .addCategory form .mdc-text-field{
    margin-top:0;
    margin-bottom:0;
  }
  
  .addCategory form button{
    align-self:flex-end;
  }

  input[type=file]{
    display: none;
  }

  .mdc-grid-tile{
      width:calc(33.333333% - 20px);
      padding: 0 20px;
      margin:15px 10px;
      padding:0;
      transition: width 0.3s linear;
      will-change: width;
  }

  @media only screen and (max-width: 600px) {
    .mdc-grid-tile{
      width:calc(50% - 20px);
    }
  }

  @media only screen and (max-width: 400px) {
    .mdc-grid-tile{
      width:100%;
    }
  }

  .mdc-grid-tile .mdc-fab{
    position: absolute;
    z-index: 1;
    top:-20px;
    left: 0;
    background-color: #ad1010;
    opacity:0;
    transition:opacity 0.3s linear;
    will-change: opacity;
  }

  .mdc-grid-tile:hover .mdc-fab{
    opacity:1;
  }

  .mdc-grid-tile__primary-content{
    background-color: #dcdeef;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .mdc-grid-tile__primary{
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    cursor: pointer;
  }

  .mdc-grid-tile:hover .mdc-grid-tile__primary{
    box-shadow: 0 7px 8px -4px   rgba(62, 43, 150, 0.54), 0 5px 8px 0 rgba(0, 0, 0, 0.54), 0 1px 14px 0 rgba(62, 43, 150, 0.94);
  }

  .mdc-grid-tile__secondary {
    width: 100%;
    left:0;
    cursor: pointer;
    will-change: height;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
    padding:0;
  }

  span{
    padding: 16px;
  }

  .mdc-fab{
    position: absolute;
    z-index: 1;
    top:-20px;
    right: 0;
    background-color: #3f51b5;
    &:nth-of-type(2){
      right: 50px;
      background-color: #689f38;
    }
  }

  .new{
    height: 200px;
    width:550px;
    max-width: 800px;
    background-color: rgba(55, 53, 187, 0.418);
    border-radius: 5px;
    position: absolute;
    left:calc(50% - 275px);
    top:30px;
    border: 2px solid black;
    -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
    text-align: center;
    overflow: hidden;
  }

  @media only screen and (max-width: 530px) {
    .new{
      width:100%;
      position: relative;
      top:30px;
      left:initial;
      border:0;
      border-radius: 0;
    }  
  }

  .new .images{
      width:185px;
      height: 120px;
      margin: auto;
      position: relative;
  }

  .new img{
    position: absolute;
    z-index: -1;
    filter: grayscale(1)
  }

  .new img:nth-of-type(1){
    height: 20%;
    transform: rotate(-90deg);
    top:95px;
    right:25px;
  }

  .new img:nth-of-type(2){
    left:calc(50% - 50px);
    height: 100px;
    top:20px;
  }

  .new img:nth-of-type(3){
    right:30px;
    left:initial;
    top:initial;
    top: 15px;
    height: 15%;
    transform: rotate(20deg)
  }

  .new img:nth-of-type(4){
    left:35px;
    right:initial;
    top: 25px;
    height: 15%;
    transform: rotate(-80deg)
  }

  .new img:nth-of-type(5){
    left:35px;
    top: 90px;
    height: 25%;
    transform: rotate(80deg)
  }

  .new span{
    font-size:20px;
    position: relative;
    top:20px;
    color:rgb(255, 255, 255);
  }

  .source-language,.target-language{
    position: absolute;
    top:10px;
    width:30px;
    height: 30px;
    border-radius: 25px;
    z-index: 5;
  }

  .source-language{
    right: 45px;
  }

  .target-language{
    right:10px;
  }
}

section.game{
  align-items: center;
  font-size: 19px;
  justify-content: center;
  padding-bottom: 20px;
  position: relative;
  min-height: 500px;
  min-width: 500px;

  @media only screen and (max-width: 530px) {
    display: initial;
  }

  .question{
      background-color: white;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      max-width: 500px;
      
      @media only screen and (max-width: 500px) {
        min-width: initial;
      }

      @media only screen and (max-width: 530px) {
        margin-top: 20px;
        align-self: flex-start;
        width:100%;
      }

      &.listening,&.written{
        min-width:500px;
        @media only screen and (max-width: 530px) {
          min-width: initial;
          width:100%;
        }
      }
  }

  .status-bar{
    margin-bottom:50px;
    width:100%;
    max-width:80vw;
    margin:0 auto;
    margin-bottom:20px;

    @media only screen and (max-width: 530px) {
      width:80%;
    }
  }

  .mdc-linear-progress{
    width:100%;
    box-sizing: border-box;
  }

  .mdc-card{
    padding: 20px;
    @media only screen and (max-width: 530px) {
      padding-left:0;
      padding-right:0;
    }
  }

  .mdc-card__title.mdc-card__title--large{
    font-weight: bold;
    padding-bottom: 10px;
    @media only screen and (max-width: 530px) {
      font-size:1em;
      line-height: 1.2em;
    }
  }

  .mdc-card__subtitle{
    border-top: 1px dashed darkgray;
    font-size:20px;
    padding-top:20px;
    @media only screen and (max-width: 530px) {
      font-size:1em;
      line-height: 1.2em;
      padding:10px 0 10px 0;
    }
  }

  .the-line{
    border-top: 3px solid rgb(60, 49, 163);
    position: relative;
    margin-top:30px;
    margin-bottom:20px;
    width:calc(100% + 80px);
    left:-40px;
    @media only screen and (max-width: 530px) {
      margin-top:10px;
      margin-bottom:10px;
    }
  }

  .answer .mdc-form-field{
    width: 100%;
    padding-top: 10px;
    @media only screen and (max-width: 530px) {
      padding-top:0;
    }
  }

  .error{
    border-bottom: 2px solid rgba(212, 3, 3, 0.81);
  }

  .error .mdc-text-field__bottom-line{
    display: none;
  }

  .error .mdc-text-field__input{
    color: #c30000eb;
  }

  .succeed{
    background-color: #9ff16469;
    @media only screen and (max-width: 530px) {
      margin-top:40px;
    }
  }

  .failure{
    background-color: #f1696469;
    @media only screen and (max-width: 530px) {
      margin-top:40px;
    }
  }

  .mdc-card__media{
    background: url(../images/right1.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    width: 300px;
    height: 255px;
    @media only screen and (max-width: 530px) {
      width:100%;
    }
  }

  .summary{
    display: flex;
    flex-wrap: wrap;
  }

  .summary-row{
    box-sizing: border-box;
    display: flex;
    align-content: center;
    vertical-align: middle;
    min-height: 400px;
    width:calc(50% - 40px);
    margin: 20px;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    border:1px solid rgba(0, 0, 0, 0.212);
    border-radius:5px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    justify-content: center;
    background-color: white;
    color:$black-font-color;
    
    @media only screen and (max-width: 530px) {
      width: 100%;
      min-height:300px;
    }

    & span:nth-of-type(1){
      text-align: center;
      font-size:54px;
      @media only screen and (max-width: 530px) {
        font-size:1.6em;
        margin-bottom:10px;
      }
    }
  
    & span:nth-of-type(2){
      text-align: center;
      font-size:20px;
    }
  
    & span:nth-of-type(3){
      flex-basis: auto;
    }
  }

  .continue-div{
    width:100%;
    max-width:420px;
    margin:0 auto;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 530px) {
      flex-wrap: wrap;
      padding:0;
      padding-top:10px;

      & button{
        padding:0;
        margin:0;
        width:100%;
        margin-bottom:10px;
      }
    }
  }

  .btn-quit-game{
    position: absolute;
    top:0;
    right: 0;
  }

  .btn-hearing {
    transition: 0.2s linear background;

    &.highlight {
      background: green;
    }
  }
}

section.manageWords{
  .mdc-fab{
    position: absolute;
    z-index: 1;
    top:-20px;
    right: 0;
    background-color: #3f51b5;

    &:nth-of-type(2){
      right: 50px;
      background-color: #689f38;
    }

    &:nth-of-type(3){
      right: 100px;
      background-color: #ffca28;
    }
  }
  
  .addWords{
    background: rgb(255, 255, 255);
    width:100%;
    padding-top:0px;
    padding-bottom:0px;
    border-top:0px;
    height: 0; 
    will-change: height;
    transition-property: height, padding-bottom;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .addWords.visible{
    height: 95px;
    @media only screen and (max-width: 600px) {
      height: 160px;
    }
  }
  
  .addWords form{
      max-width:450px;
      margin:auto;
      display: flex;
      justify-content: space-between;
      margin-top:15px;
      @media only screen and (max-width: 600px) {
        margin:10px;
        flex-direction: column;
      }
  }
  
  @media only screen and (max-width: 600px) {
    .addWords form *{
      margin:5px;
      flex-basis: 100%;
    }
  }
  
  .addWords form .mdc-text-field{
    margin-top:0;
    margin-bottom:0;
  }
  
  .addWords form button{
    align-self:flex-end;
  }
  
  .words{
    height: 100%;
    width:100%;
    margin-top:50px; 
    margin-bottom:30px;
    position: relative;
  }
  
  .words .mdc-icon-toggle:hover::before {
    opacity: 0.1;
  }
  
  .words .mdc-fab--mini {
    position: absolute;
    top:-20px;
    right:10px;
    z-index: 2;
    background-color: #3f51b5;
  }
  
  .words .mdc-text-field  {
    margin:0;
  }
  
  .words tr > td .mdc-fab--mini {
    left:15px;
    top:13px;
    width: 25px;
    height: 25px;
    @media only screen and (max-width: 600px) {
      left:2px;
    }
  }
  
  .words tr > td .material-icons  {
    font-size: 20px;
  }
  .words tr > td .mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box):not(.mdc-text-field--textarea){
    height:35px;
  }
  
  .words tr > td .mdc-text-field {
    margin-left:0px;
    width: 70%;
    min-width: 200px;
  }
  
  .words .right {
    color:green;
  }
  
  .words .wrong {
    color:darkred;
  }
  
  .gameSettings{
    width:100%;
    margin-top:50px; 
    margin-bottom:30px;
    position: relative;
    background-color: white;
    padding:25px;
    box-sizing:border-box;
  }
  
  .setting-group{
    box-sizing: border-box;
    padding:15px;
    border:1px solid rgba(136, 95, 212, 0.473);
  }

  .setting-title{
    width:100%;
    display: block;
    color:$black-font-color;
    margin-bottom:5px;
  }

  .mdc-form-field{
    position: relative;
    left: -10px; 
  }
  
  .gameSettings h2{
    margin-bottom: 20px;
    color:$black-font-color;
  }
}

section.setup{
  position: relative;
  padding-top:50px; 

  .mdc-fab--mini {
    position: absolute;
    top:-20px;
    right:0;
    z-index: 2;
    background-color: #3f51b5;
  }
}

.settings{
  height: 100%;
  width:100%;
  background-color: white;

  h2{
    padding: 20px;
  }
  
  .interests{
    padding-bottom: 20px;
  }
  
  .interests .mdc-grid-list__tiles{
    margin: 0 auto;
    max-width: 800px;
  }
  
  @media only screen and (max-width: 800px) {
    .interests .mdc-grid-list__tiles .mdc-grid-tile{
        width:50%;
    }
  }
  .interests .mdc-grid-list__tiles .mdc-grid-tile{
    height: 170px;
    overflow: hidden;
    margin: 10px 0;
    cursor: pointer
  }
  
  .interests .mdc-grid-list__tiles .mdc-grid-tile img{
    height: auto;
    width: 67%;
    margin: 15px auto;
  }
  
  .interests .mdc-grid-list__tiles .mdc-grid-tile:hover .mdc-grid-tile__primary{
    background-color: rgba(64, 82, 181, 0.74)
  }
  
  .interests .mdc-grid-list__tiles .mdc-grid-tile.active .mdc-grid-tile__primary{
    background-color: rgb(64, 82, 181)
  }
  
  .interests .mdc-grid-list__tiles .mdc-grid-tile.active .mdc-grid-tile__secondary {
    background-color: transparent;
    color:white;
  }
  
  .interests .mdc-grid-list__tiles .mdc-grid-tile__primary{
    background-color: rgb(216, 218, 235);
  }
  
  .interests .mdc-grid-list__tiles .mdc-grid-tile .mdc-grid-tile__secondary {
    background-color: transparent;
    color:black;
  }
}

.mdc-text-field__input{
  padding: 0px 16px 0;
}

// ANIMATIONS
@keyframes brainFrames{
  0% {
      transform:  translate(737px, 78px);
  }

  40%{
      transform:  translate(737px, 128px) ; 
  }
  50% {
      transform:  translate(737px, 128px) ; 
  }
  100% {
      transform:  translate(737px, 78px);
  }
}

@keyframes simsek1Frames{
  0% {
      transform:  translate(900px, 30px)  ;
  }
  50% {
      transform:  translate(900px, 100px)  ; 
  }
  100% {
      transform:  translate(900px, 30px)  ;
  }
}

@keyframes simsek2Frames{
  0% {
      transform:  translate(850px, 30px)  ;
  }
  50% {
      transform:  translate(850px, 100px)  ; 
  }
  100% {
      transform:  translate(850px, 30px)  ;
  }
}

@keyframes simsek3Frames{
  0% {
      transform:  translate(810px, 30px)  ;
  }
  50% {
      transform:  translate(810px, 100px)  ;  
  }
  100% {
      transform:  translate(810px, 30px)  ;
  }
}

@keyframes lightning1Frames{
  0% {
      transform:  translate(60px, -70px)  ;
  }
  50% {
      transform:  translate(60px, 0px)  ; 
  }
  100% {
      transform:  translate(60px, -70px)  ;
  }
}

@keyframes lightning2Frames{
  0% {
      transform:  translate(120px, -70px)  ;
  }
  50% {
      transform:  translate(120px, 0px)  ; 
  }
  100% {
      transform:  translate(120px, -70px)  ;
  }
}

@keyframes lightning3Frames{
  0% {
      transform:  translate(170px, -70px)  ;
  }
  50% {
      transform:  translate(170px, 0px)  ; 
  }
  100% {
      transform:  translate(170px, -70px)  ;
  }
}

@keyframes brand {
  from {filter:sepia(0);filter:invert(0);}
  to {filter:sepia(1);filter:invert(100%);}
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@keyframes brain {
  0%,100% { 
    transform: scale(1.0,1);
  } 
  50% { 
    transform: scale(1.0,0.9);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

@keyframes fade-in{
  0% {
    opacity:0;
  }

  100%{
    opacity:1;
  }
}