@import 'normalize.css';

$main-color:#211062;
$section-height:1000px;
$main-font-color:#ffffff;

%font-rules{
    font-family: Ubuntu;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

%center{
    margin-left:auto;
    margin-right: auto;
}

body {
    width:100vw;
    background-color:$main-color;
    color: $main-font-color;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    min-width: 325px;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding: 0;
}

p{
    font-size:14px;
}

#hero{
    @extend %font-rules;
    width:calc(100% - 176px);
    min-width: 325px;
    padding: 62px 0 1px 176px;
    height: 1100px;
    position: relative;
    overflow: hidden;
    
    .hero__wrapper{
        @extend %center;
        max-width:1350px;
        margin:0 auto;
    }

    .hero__btn-start{
        border-radius: 5px;
        width: 100px;
        height: 30px;
        display: block;
        line-height: 30px;
        text-decoration: none;
        text-align: center;
        margin-top:10px;
        color: white;
        background-color: #7c26cade;
        transition: background-color ease-out 0.3s;
    }
    
    .hero__btn-start:hover{
        background-color: #8e40d4de;
    }
    .hero__brand{
        font-size: 18px;
    }

    .hero__main-header{
        font-size: 40px;
        font-weight: bold;
        margin-top:125px;
    }

    p{
        width:221px;
    }

    .hero__main-header::after {
        content:" ";
        width: 121px;
        height: 2px;
        border-radius: 1.5px;
        background-color: #ffffff;
        display: block;
        margin:20px 0 38px 0;
    }

    svg {
        width:100%;
        height: auto;
      }

    .hero__canvas{
        overflow: hidden;
        width: 1640px;
        height: 1251px;
        position: fixed;
        right:0;
        left: 0;
        margin:0 auto;
        top: 70px;
        z-index: -1;
        
        #hero-animation {
            position: relative; 
        }

        #beyin{
            position: absolute;
            animation: brainFrames ease-in-out 3s;
            animation-iteration-count: infinite;
            transform: translate(737px, 78px);
            z-index: 2;
        }

        #simsek1{
            position: absolute;
            animation: simsek1Frames ease-in-out 3s;
            animation-iteration-count: infinite;
            z-index: 1;
        }

        #simsek2{
            position: absolute;
            animation: simsek2Frames ease-in-out 3s;
            animation-iteration-count: infinite;
            z-index: 1;
        }

        #simsek3{
            position: absolute;
            animation: simsek3Frames ease-in-out 3s;
            animation-iteration-count: infinite;
            z-index: 1;
        }

        .empty-paper{
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -webkit-transition: opacity 0.5s ease-in-out;
        }

        .empty-paper.appear{
            opacity: 1; 
        }
    }

    @media only screen and (max-width: 1200px){
        .hero__canvas{
            width: 1040px;
            height:700px;
            left: 120px;
        }
    } 

    @media only screen and (max-width: 900px){
        .hero__canvas{
            left: 10px;
        }
    } 

    @media only screen and (max-width: 735px){
        .hero__wrapper{
            padding-left: 0;
            width:300px;
            margin:0 auto;
            display: block;
        }
        .hero__canvas{
            height:486px;
            position:static;

            svg{
                width: 300px;
                height: 550px;
                transform: scale(2.5);
                left:-50px;
                position: absolute;
                left: -9999px;
                right: -9999px;
                margin: auto;
            }
        }
        .hero__main-header{
            margin-top:20px;
        }
    } 
}

@media only screen and (max-width: 1200px){

    #hero{
        height:700px;
    }
}

@media only screen and (max-width: 1000px){
    #hero{
        width:calc(100% - 40px);
        padding: 62px 0 1px 40px;
    }
} 

@media only screen and (max-width: 735px){
    #hero{
        width:100%;
        padding:20px 0 0 0;
    }
}

// ANIMATIONS
@keyframes brainFrames{
    0% {
        transform:  translate(737px, 78px)  ;
    }
    50% {
        transform:  translate(737px, 128px)  ; 
    }
    100% {
        transform:  translate(737px, 78px)  ;
    }
}

@keyframes simsek1Frames{
    0% {
        transform:  translate(900px, 30px)  ;
    }
    50% {
        transform:  translate(900px, 100px)  ; 
    }
    100% {
        transform:  translate(900px, 30px)  ;
    }
}

@keyframes simsek2Frames{
    0% {
        transform:  translate(850px, 30px)  ;
    }
    50% {
        transform:  translate(850px, 100px)  ; 
    }
    100% {
        transform:  translate(850px, 30px)  ;
    }
}

@keyframes simsek3Frames{
    0% {
        transform:  translate(810px, 30px)  ;
    }
    50% {
        transform:  translate(810px, 100px)  ;  
    }
    100% {
        transform:  translate(810px, 30px)  ;
    }
}

.how-to{
    width:100%;
    height:800px;
    z-index: 2;
    background-color:red;
    position: relative;
    background-color:#211062;
} 